/* montserrat-400 */
@font-face {
  font-family: 'montserrat-400';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/montserrat-400.woff2') format('woff2');
}

/* montserrat-700 */
@font-face {
  font-family: 'montserrat-700';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/font/montserrat-700.woff2') format('woff2');
}

/* montserrat-900 */
@font-face {
  font-family: 'montserrat-900';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/font/montserrat-900.woff2') format('woff2');
}