:root {
  // COLORS 60/30/10
  --color-primary: #121212; // google recommendation (not true black)
  --color-secondary: #fff;
  --color-accent: #ff69b4;
  --color-on-primary: var(--color-secondary);
  --color-on-accent: var(--color-primary);
  --color-accent-2: #bf6a95;
  --color-accent-2: #917985;
  --color-accent-3: #ff45a2;
  --color-accent-4: #fc007e;
  --color-accent-transparent: #ff69b444;
  --color-accent-transparent-2: #ff69b477;
  --color-discret: #a0a0a0;
  --color-discret-2: #e1e0e0;
  --color-success: #69ffb4;
  --color-error: #d93025;
  --color-snackbar: #292323;
  --color-snackbar-text: #fcebeb;

  --height-input: 44px;
  --size-icon: 34px;
  --max-width-page-options: 900px;

  --border-radius-button: 6px;

  --translate-button-summary: -30px;
  --translate-button-detail: 30px;
  --transition-button: all ease 300ms;
}

/* @link https://utopia.fyi/type/calculator?c=768,20,1.2,1240,22,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.7738rem, 1.0217rem + -0.3199vw, 0.8681rem);
  --step--1: clamp(1.0313rem, 1.0592rem + -0.036vw, 1.0419rem);
  --step-0: clamp(1.25rem, 1.0466rem + 0.4237vw, 1.375rem);
  --step-1: clamp(1.5rem, 0.958rem + 1.1292vw, 1.8331rem);
  --step-2: clamp(1.8rem, 0.7536rem + 2.1801vw, 2.4431rem);
  --step-3: clamp(2.16rem, 0.3753rem + 3.7182vw, 3.2569rem);
  --step-4: clamp(2.5919rem, -0.2546rem + 5.9301vw, 4.3412rem);
  --step-5: clamp(3.1106rem, -1.244rem + 9.072vw, 5.7869rem);
}

/* @link https://utopia.fyi/space/calculator?c=768,20,1.5,1240,22,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.3125rem, 0.2108rem + 0.2119vw, 0.375rem);
  --space-2xs: clamp(0.625rem, 0.5233rem + 0.2119vw, 0.6875rem);
  --space-xs: clamp(0.9375rem, 0.7341rem + 0.4237vw, 1.0625rem);
  --space-s: clamp(1.25rem, 1.0466rem + 0.4237vw, 1.375rem);
  --space-m: clamp(1.875rem, 1.5699rem + 0.6356vw, 2.0625rem);
  --space-l: clamp(2.5rem, 2.0932rem + 0.8475vw, 2.75rem);
  --space-xl: clamp(3.75rem, 3.1398rem + 1.2712vw, 4.125rem);
  --space-2xl: clamp(5rem, 4.1864rem + 1.6949vw, 5.5rem);
  --space-3xl: clamp(7.5rem, 6.2797rem + 2.5424vw, 8.25rem);
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: inherit;
  transition: all ease 250ms;
  transition-property: background-color, color;
}

button.normal {
  padding: 8px 20px;
  border: 2px solid var(--color-accent-3);
  border-radius: var(--border-radius-button);
  font-family: 'montserrat-700';
  cursor: pointer;
}

button.primary {
  background-color: var(--color-accent-3);
  color: var(--color-on-accent);

  &:hover {
    background-color: var(--color-accent-4);
    border-color: var(--color-accent-4);
  }
}

button.secondary {
  background-color: transparent;
  color: var(--color-accent);

  &:hover {
    background-color: var(--color-accent-2);
    color: var(--color-on-accent);
  }
}

button.icon {
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-icon);
  width: var(--size-icon);
  background-color: var(--color-discret-2);
  fill: var(--color-accent);
  transition: var(--transition-button);
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent-transparent-2);
  }

}

button .summary {
  position: absolute;
  transform: translateY(var(--translate-button-summary));
}

button .summary,
button .detail {
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

button:hover .summary {
  transform: translateY(0);
}

button:hover .detail {
  transform: translateY(var(--translate-button-detail));
}

svg {
  display: flex;
}

.container {
  border: 4px solid var(--color-primary);
  border-radius: var(--border-radius-container);
}