:root {
  --color-primary: #ff69b4;
  --color-on-primary: #fff;
  --color-secondary: #8f8e8e;
  --color-secondary-lighter: #9e9d9d;
  --color-on-secondary: #fff;
  --color-discret: #cccccc;
  // --color-primary-hover: #ff87c3;
  // --color-error: #d93025;
  // --color-primary-alternative: #000;
  // --color-secondary: #333;
  // --background-color-secondary: #333;
  // --background-color-tertiary: #555;

  --height-input: 40px;
  --size-icon: 30px;
  --max-width-page-options: 900px;
  --border-radius-button: 6px;
  --transition-button: all ease 300ms;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

button {
  color: inherit;
}

button.normal {
  border: none;
  padding: 8px 20px;
  border-radius: var(--border-radius-button);
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  cursor: pointer;
  transition: background-color ease 300ms;
}

button.icon {
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-icon);
  width: var(--size-icon);
  background-color: var(--color-secondary);
  cursor: pointer;

  &.secondary {
    background-color: transparent;

    &:hover {
      background-color: var(--color-discret);
      fill: var(--color-primary);
    }
  }
}

button.icon:hover,
button.normal:hover {
  background-color: var(--color-discret);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: var(--transition-button);
}

button.primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'montserrat-700';
}

button.primary:hover {
  background-color: var(--color-primary-hover);
  transition: var(--transition-button);
}

svg {
  display: flex;
}